<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>success: <%= a %></div>
<ul>
    <% for (let i = 0; i < news.length; i++) { %>
        <%= news[i] %>
    <%}%>
</ul>
</body>
</html>